@import url('reset.css');

/* General Demo Style */
body{
	background:#f7f7f7 url(../images/pattern.png) repeat top left;
	color:#000;
	font-family: 'Roboto Condensed';
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1{
	padding:20px;
	font-size:28px;
	color:#1693eb;
	font-family: 'Roboto Condensed';
	font-weight:400;
    text-align:left;
    text-shadow:1px 1px 1px #fff;
}
h1 span{
	font-size:18px;
	color:#1693eb;
}
.more{
	font-family: 'Roboto Condensed';
	margin:0 auto;
	text-align:center;
	color:#ddd;
	font-size:15px;
	color:#444;
}
.more p{
	display:block;
	margin:10px;
}
.more a{
	color:#666;
	white-space: nowrap;
	font-weight:bold;
	background:#fff;
	padding:1px 6px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.more a.current,
.more a.current:hover{
	color:#fff;
	background:#000;
}
.more a:hover{
	background-color:#1693eb;
	color:#fff;
}

/* Header */
.codrops-header {
	padding: 3em 3em 0 3em;
	letter-spacing: -1px;
	width: 100%;
}

.codrops-header h1 {
	font-family: 'Roboto Condensed';
	font-weight: 600;
	font-size: 6em;
	line-height: 1.15;
	margin-bottom: 0;
	margin-top: 0.25em;
	padding: 0px 50px 0px 50px;
	text-align: center;
	color: #308fd9;
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
	color: #bdc2c9;
}

.codrops-header h2 {
	font-family: 'Roboto Condensed';
	font-weight: 200;
	font-size: 4em;
	line-height: 1.15;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px 50px 0x 50px;
	text-align: left;
	color: rgb(51, 51, 51);
}

.codrops-header h3 {
        font-family: 'Roboto Condensed';
	text-transform: uppercase;
	display: block;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 1em;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0px 50px 50px 50px;
	text-align: center;
	color: rgb(51, 51, 51);
}

.codrops-header h5 {
        font-family: 'Roboto Condensed';
	text-transform: uppercase;
	display: block;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 1em;
	margin-top: 16px;
	margin-bottom: 16px;
	position: absolute;
	padding: 0px 50px 50px 10px;
	text-align: left;
	color: rgb(51, 51, 51);
}
